<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form express</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
</head>
<body>
    <div class="container">
        <div class="jumbotron">

            <h1>Form-Express</h1>
        </div>
        <form method="POST" action="/submit-form">
            <input type="text" name="username" />
            <input class="submitBtn" type="submit" />
        </form>

    </div>
    
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <script src="./js/index.js"></script>
</body>
</html>